{% load static %}


<html>

<head>
    <title>A Time Travellers Map</title>
    <style>
        .buttons {
            margin: auto;
        }
    </style>
    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'world/style.css' %}" />

</head>
<script>
    $(function() {
        $('#add_layer').click(function() {
            console.log('clicked')
            var formcount = $('#id_nested-TOTAL_FORMS').val();
            console.log(formcount)
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, formcount));
            $('#id_nested-TOTAL_FORMS').val(parseInt(formcount) + 1);
        })
    });
</script>
<header>
    <ul>
        <li><a href="../world/">Home</a></li>
        <li><a href="../world/add_map">Add Map</a></li>
        <li><a href="../world/add_layer">Add Layer</a></li>
        <li><a href="../world/show_maps">Edit Maps</a></li>
        <li><a href="../world/show_layers">Edit Layers</a></li>
    </ul>
</header>

<body>


  <div class="tablecontainer">
      <form action="" method="post">
          {% csrf_token %}
          <div id="form_set">
              {{form}} {{ map_formset.management_form }} {% for form in map_formset.forms %}
              <table>
                  {{ form.as_table }}
              </table>
              {% endfor %}
          </div>
          <div id="empty_form" style="display:none">
              <table class='no_error'>
                  {{ map_formset.empty_form.as_table }}
              </table>
          </div>

          <th></th>
          <td><input type="submit" class="submit-button" name="submit" value="Submit" </td>
              </tr>
              </table>
      </form>
      <input type="button" value="Add layer" id="add_layer">

<footer> Francis Rooney | University of Sheffield 2017</footer>
</body>
</html
