{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'world/style.css' %}" />

<html>

<head>
    <title>A Time Travellers Map</title>

    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script>
    $(function() {
        $('#add_more').click(function() {
            console.log('clicked')
            var formcount = $('#id_nested-TOTAL_FORMS').val();
            console.log(formcount)
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, formcount));
            $('#id_nested-TOTAL_FORMS').val(parseInt(formcount) + 1);
        })
    });
    </script>

    <header>
        <ul>
            <li><a href="../../world/">Home</a></li>
            <li><a href="../../world/add_map">Add Map</a></li>
            <li><a href="../../world/add_layer">Add Layer</a></li>
            <li><a href="../../world/show_maps">Edit Maps</a></li>
            <li><a href="../../world/show_layers">Edit Layers</a></li>
        </ul>
    </header>

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}

            <div id="form_set">
                {{form}} {{ map_formset.management_form }} {% for form in map_formset.forms %}
                <table class='no_error'>
                    {{ form.as_table }}
                </table>
                {% endfor %}
            </div>
            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    {{ map_formset.empty_form.as_table }}

                </table>
            </div>

            <th></th>
            <td><input type="submit" name="submit" value="Submit" class="button" </td>
                </tr>
                </table>
        </form>

        <input type="button" value="Add More" id="add_more">
    </div>

    <footer> </footer>

</html>
