{% load static %}


<HTML lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'world/style.css' %}" />

    <title>Adding Custom Layers</title>
</head>
<header>
    <ul>
        <li><a href="../../world/">Home</a></li>
        <li><a href="../../world/add_map">Add Map</a></li>
        <li><a href="../../world/add_layer">Add Layer</a></li>
        <li><a href="../../world/show_maps">Edit Maps</a></li>
        <li><a href="../../world/show_layers">Edit Layers</a></li>
    </ul>
</header>

<body>
  <div class="tablecontainer">
    <div class ="form-style">
    <form method="post" action="">
      {% csrf_token %}
      <table>
          {{ form.as_table }}
      </table>
        <!-- {% csrf_token %} {{form}} -->
        <input class="submit-button" type="submit" value="submit">
    </form>
</div>
</div>
</body>

<footer> Francis Rooney | University of Sheffield 2017</footer>

</HTML>
