<!DOCTYPE HTML>
<html>
  <head>
    <title>A Time Travellers Map</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
    <style>
      .map {
        height: 600px;
        width: 80%;

      }
    </style>
    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>



    <script type=text/javascript>
    function init() {

    // create a layer with the OSM source
        var layer = new ol.layer.Tile({
          source: new ol.source.Stamen({
            layer: 'toner-lite'
          })
        });

        map = new ol.Map({
		  target:'map',
		  renderer:'canvas',
		  view: new ol.View({
			projection: 'EPSG:3857',
			center: ol.proj.transform([2.4, 48], 'EPSG:4326', 'EPSG:3857'),
			zoom:4,
		  })
	    });

	    var stamen = new ol.layer.Tile({
	    source: new ol.source.Stamen({
	      layer: 'toner-lite'
	      })
	    });

      map.addLayer(stamen);





      }
      function original() {
      var OriginalEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/originalEU',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
           style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [0,255,0,0.5]})
                            })
                        ]
        });



        map.addLayer(OriginalEu);
      }

      function add() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/additionalEU',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [0,255,255,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }

      function add2() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/greecetoEU',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [255,0,255,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }
      function add1986() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/1986eu',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [128,0,0,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }
      function add1995() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/1995eu',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [0,128,128,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }

      function add2004() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/2004eu',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [255,255,0,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }

      function add2007() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/2007eu',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [128,128,128,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }

      function add2013() {
        var AdditionEu = new ol.layer.Vector({
        title: 'Polygon',
      	source: new ol.source.Vector({
          projection:new ol.proj.get("EPSG:3857"),
          url:'http://localhost:8080/2013eu',
          format: new ol.format.KML({
          extractStyles:false
          })
          }),
          style: [
                            new ol.style.Style({
                                stroke: new ol.style.Stroke({color: 'black', width: 1}),
                                fill: new ol.style.Fill({color: [0,0,128,0.5]})
                            })
                        ]
      });

        map.addLayer(AdditionEu)

      }



    </script>
  </head>
  <body onload='init()'>
    <div id="map" class="map"></div>

    <div id="basicMap"></div>
    <input type="button" value="1951" onclick="original()">
    <input type="button" value="1973" onclick="add()">
    <input type="button" value="1981" onclick="add2()">
    <input type="button" value="1986" onclick="add1986()">
    <input type="button" value="1995" onclick="add1995()">
    <input type="button" value="2004" onclick="add2004()">
    <input type="button" value="2007" onclick="add2007()">
    <input type="button" value="2013" onclick="add2013()">
    <select name="item_id">
    {% for entry in borders %}
    <option value="{{ entry.id }}">{{ entry.name }}</option>
  {% endfor %}
  </body>
</select>
</html>
