<!DOCTYPE HTML>
<html>
  <head>
    <title>A Time Travellers Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      .map {
        height: 600px;
        width: 80%;
        margin:auto;
        border: 1px solid black;
      }
      .buttons {
        margin:auto;
            }
    </style>
    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script type=text/javascript>

    var js_list = "{{names|escapejs}}"

    console.log(js_list)

    var sourceF = new ol.source.Vector({
        projection: new ol.proj.get("EPSG:3857"),
        url: 'http://localhost:8080/allcountries',
        format: new ol.format.KML({
            extractStyles: false
        })
    })
    var generalLayer = new ol.layer.Vector({
        source: sourceF
    })

    function init() {

        // create a layer with the OSM source
        var layer = new ol.layer.Tile({
            source: new ol.source.Stamen({
                layer: 'toner-lite'
            })
        });

        map = new ol.Map({
            target: 'map',
            renderer: 'canvas',
            view: new ol.View({
                projection: 'EPSG:3857',
                center: ol.proj.transform([2.4, 48], 'EPSG:4326', 'EPSG:3857'),
                zoom: 4,
            })
        });

        var stamen = new ol.layer.Tile({
            source: new ol.source.Stamen({
                layer: 'toner-lite'
            })
        });

        map.addLayer(stamen);

        var sourceF = new ol.source.Vector({
            projection: new ol.proj.get("EPSG:3857"),
            url: 'http://localhost:8080/allcountries',
            format: new ol.format.KML({
                extractStyles: false
            })
        })


        map.addLayer(generalLayer)

        generalLayer.getSource().on('change', function(evt) {
          generalLayer.setVisible(false)
        })

    }

    function addingSavedFeaturesToLayer() {

        var names = document.getElementById('dropdown');
        var text = names.options[names.selectedIndex].text;
        var string = text.substring(text.lastIndexOf("[")+2,text.lastIndexOf("]")-1);
        var nameArray = string.split(", ");

        for (let name of nameArray) {
            var trimmedname = name.replace(/^[\n']+|[\n']+$/g, "");
            var fullytrimmed = trimmedname.trim();


            var featureList = new Array;

            var specificSource = new ol.source.Vector({})

            features = generalLayer.getSource().getFeatures();
            for (var i = 0; i < features.length; i++) {
                if (features[i].getProperties().name == trimmedname) {
                    featureList.push(features[i])
                    specificSource.addFeature(features[i])
                    //console.log(features[i])
                    map.removeLayer(generalLayer)
                    //console.log(featureList)
                    break;
                }

            }




            var specificLayer = new ol.layer.Vector({
                source: specificSource,
                style: [
                    new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: 'black',
                            width: 1
                        }),
                        fill: new ol.style.Fill({
                            color: [0, 255, 255, 0.5]
                        })
                    })
                ]
            })
            //console.log(specificSource.getFeatures())
            map.addLayer(specificLayer)

        }
    }

    function addingFeaturesToLayer() {

        var names = document.getElementById('value').value;
        var nameArray = names.split(", ");

        for (let name of nameArray) {

            var featureList = new Array;

            var specificSource = new ol.source.Vector({})

            features = generalLayer.getSource().getFeatures();
            for (var i = 0; i < features.length; i++) {
                if (features[i].getProperties().name == name) {
                    featureList.push(features[i])
                    specificSource.addFeature(features[i])
                    //console.log(features[i])
                    map.removeLayer(generalLayer)
                    //console.log(featureList)
                    break;
                }

            }




            var specificLayer = new ol.layer.Vector({
                source: specificSource,
                style: [
                    new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: 'black',
                            width: 1
                        }),
                        fill: new ol.style.Fill({
                            color: [0, 255, 255, 0.5]
                        })
                    })
                ]
            })
            //console.log(specificSource.getFeatures())
            map.addLayer(specificLayer)

        }
    }

    function original() {
        var OriginalEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/originalEU',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [0, 255, 0, 0.5]
                    })
                })
            ]
        });
        map.addLayer(OriginalEu)





    }

    function add() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/additionalEU',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [0, 255, 255, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function add2() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/greecetoEU',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [255, 0, 255, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function add1986() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/1986eu',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [128, 0, 0, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function add1995() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/1995eu',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [0, 128, 128, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function add2004() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/2004eu',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [255, 255, 0, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function add2007() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/2007eu',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [128, 128, 128, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function add2013() {
        var AdditionEu = new ol.layer.Vector({
            title: 'Polygon',
            source: new ol.source.Vector({
                projection: new ol.proj.get("EPSG:3857"),
                url: 'http://localhost:8080/2013eu',
                format: new ol.format.KML({
                    extractStyles: false
                })
            }),
            style: [
                new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'black',
                        width: 1
                    }),
                    fill: new ol.style.Fill({
                        color: [0, 0, 128, 0.5]
                    })
                })
            ]
        });

        map.addLayer(AdditionEu)

    }

    function clearLayers() {

        map.getLayers().removeAt(1);
    }
</script>
  </head>
  <body onload='init()'>
    <div id="map" class="map"></div>
    <div id="buttons" class="buttons">
        <input type="button" value="1951" onclick="original()">
        <input type="button" value="1973" onclick="add()">
        <input type="button" value="1981" onclick="add2()">
        <input type="button" value="1986" onclick="add1986()">
        <input type="button" value="1995" onclick="add1995()">
        <input type="button" value="2004" onclick="add2004()">
        <input type="button" value="2007" onclick="add2007()">
        <input type="button" value="2013" onclick="add2013()">
        <form id='addFeatureForm'>
            <input type="text" name="addFeatureValue" id='value' />
            <input type="button" value="submit" onclick="addingFeaturesToLayer()" />
        </form>
    <input type="button" value="Clear" onclick="clearLayers()">
        <select id="dropdown">
          {% for entry in userLayers %}
          <option value="{{ entry.layername }}"> {{ entry.layername }} : {{entry.countrylist}} : {{entry.year}}</option>
          {% endfor %}
          <input type="button"  value="submit" onclick="addingSavedFeaturesToLayer()" />

    </select>
    </div>

</body>
</select>
</html>
