{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'world/style.css' %}" />

<html>

<head>
    <title>A Time Travellers Map</title>

    <script src="https://openlayers.org/en/v4.0.1/build/ol.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<header>
    <ul>
        <li><a href="../world/">Home</a></li>
        <li><a href="../world/add_map">Add Map</a></li>
        <li><a href="../world/add_layer">Add Layer</a></li>
        <li><a href="../world/show_maps">Edit Maps</a></li>
        <li><a href="../world/show_layers">Edit Layers</a></li>
    </ul>
</header>

<body>
    <div class=container>
        <table id="maptable">
            <tr>
                <th>Map Name</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            {% for entry in user_layers %}
            <tr>
                <td> {{ entry.layername }}</th>
                        <td><a href="/world/edit_layer/{{entry.layername}}">Edit</a></th>
                            {% endfor%}
        </table>
    </div>
</body>

<footer> </footer>

</html>
