<select name="map_id">

{% for entry in allayers %}
{% for }
<option value="{{ entry.id }}">{{ entry.mapname }}</option>
  {% endfor %}
</select>
<script>

function update() {
  var select1 = document.getElementById('map_id')
  var select2 = document.getElementById('layer_id')
  select1.onchange = function(a) {
    var selectedValue = select2.children[select2.selectedIndex].value;

  }
}

</script>

  <select id="layer_id">

  {% for entry in allayers %}
      {% for m_obj in entry.layers.all %}
          <option value="{{ m_obj.id }}">{{ m_obj.countrylist }}</option>

      {% endfor %}
  {% endfor %}
</select>
