div.container {
margin-top: 10px;
width: 90%;
border: 1px solid gray;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.my-select {
  visibility: hidden;
}

th, td {
    text-align: left;
    padding: 8px;
}


th {
    background-color: #333;
    color: white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #333;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

header {
padding: 1em;
color: white;
background-color: black;
clear: left;
text-align: center;
}



#map, #layer, #dropdown {
width: 150px;
}
#left {
  float: left;
max-width: 100px;
margin: 0;
padding: 1em;

}
#mapcontainer {
  height: 550px;
  margin-left: 250px;
border-left: 1px solid gray;
padding: 1em;
}
.clear {
  clear: both;
}
